asgiref==3.6.0
cart==1.2.1
crispy-bootstrap5==0.7
Django==4.1.7
django-crispy-forms==2.0
django-extensions==3.2.1
django-widget-tweaks==1.4.12
mysqlclient==2.1.1
Pillow==9.4.0
pycryptodome==3.17
PyMySQL==1.0.2
sqlparse==0.4.3
tzdata==2022.7
